<nav class="sidebar flex flex-column justify-content-between h-full" [class.collapsed]="collapsed">
  <div class="menu-items">
    @for (item of visibleMenuItems(); track item.label) {
      <div class="menu-item" (click)="navigate(item.route)">
        <i [class]="item.icon"></i>
        @if (!collapsed) {
          <span>{{ item.label }}</span>
        }      
      </div>
    }
  </div>

  <div class="bottom-actions mb-4">
    @if (!collapsed) {
        <div class="version text-center text-xs mt-auto">v1.1.0 Premium</div>
    }
  </div>
</nav>